button {
	$colorButton: black;
	padding-block: .75rem;
	padding-inline: 1rem;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	transition: all .2s ease-in-out;
	box-shadow: (
		0 .06rem .19rem rgba(0, 0, 0, 0.12),
		0 .06rem 0.125rem rgba(0, 0, 0, 0.24)
	);
	font-size: 1.25rem;
	font-weight: bold;
	color: $colorText;
	background-color: $colorButton;
	&:hover { background-color: lighten($colorButton, 2%); }
}

header {
	height: $headerHeight;
	display: flex;
	align-items: center;
	font-weight: bold;
	background: linear-gradient(
		rgba(black, .7),
		rgba(black, .1)
	);

	h1 {
		font-size: 2.5rem;
		margin-left: 50%;
		transform: translateX(-50%);

		background: linear-gradient(
			$colorSecondary,
			darken($colorSecondary, 30%)
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-style: italic;
	}

	nav {
		min-width: max-content;
		margin-left: auto;
		margin-right: 3rem;

		a {
			font-size: 1.5rem;
			color: $colorText;
			&:hover { color: lighten($colorSecondary, 20%) }
			cursor: pointer;
			padding-block: .75rem;
			padding-inline: 1rem;
			&[data-current-page] { color: $colorSecondary; }
		}
	}
}

footer {
	height: $footerHeight;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $colorPrimary;
	font-weight: bold;
	gap: 3rem;
	font-size: 1rem;

	> p:first-of-type { font-size: 1.5rem; }
	> div:last-of-type {
		display: flex;
		gap: .25rem;
		a { cursor: pointer; }
	}
}
