header {
	height: $headerHeight;
	display: flex;
	align-items: center;
	background-color: $colorPrimary;

	h1 {
		font-size: 3rem;
		font-weight: bold;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	nav {
		min-width: max-content;
		height: 100%;
		margin-left: auto;
		margin-right: 3rem;

		.MuiButton-root {
			height: 100%;
			font-size: 2rem;
			color: $colorText;
			&[current-page] { color: $colorSecondary; }
		}
	}
}

footer {
	height: $footerHeight;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $colorPrimary;
	font-weight: bold;
	gap: 3rem;
	font-size: 1.5rem;

	> p:first-of-type { font-size: 2rem; }
	> div:last-of-type {
		display: flex;
		gap: .25rem;
		a { cursor: pointer; }
	}
}
