$colorPrimary: #b71c1c;
$colorTextHighEmphasis: #333;
$colorTextMediumEmphasis: #c4c4c4;
$colordisabled: #7e7e7e;

$headerHeight: 4.5rem;
$footerHeight: 4.5rem;
$mainContentHeight: calc(100vh - $headerHeight - $footerHeight)
