$colorPrimary: #121212;
$colorSecondary: #fff500;
$colorText: #fff;
$colorText2: #E0E0E0;
$colorText3: #A0A0A0;
$colordisabled: #7e7e7e;

$headerHeight: 5rem;
$footerHeight: 4.5rem;
$mainContentHeight: calc(100vh - $headerHeight - $footerHeight)
