$colorPrimary: #F8E5AC;
$colorSecondary: #ff0000;
$colorText: #333;
$colordisabled: #7e7e7e;

$headerHeight: 4.5rem;
$footerHeight: 4.5rem;
$mainContentHeight: calc(100vh - $headerHeight - $footerHeight)
