button {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.06rem 0.19rem rgba(0, 0, 0, 0.12), 0 0.06rem 0.125rem rgba(0, 0, 0, 0.24);
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  background-color: black;
}
button:hover {
  background-color: #050505;
}

header {
  height: 5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}
header h1 {
  font-size: 2.5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(#fff500, #666200);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
header nav {
  min-width: max-content;
  margin-left: auto;
  margin-right: 3rem;
}
header nav a {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  padding-block: 0.75rem;
  padding-inline: 1rem;
}
header nav a:hover {
  color: #fff966;
}
header nav a[data-current-page] {
  color: #fff500;
}

footer {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  font-weight: bold;
  gap: 3rem;
  font-size: 1rem;
}
footer > p:first-of-type {
  font-size: 1.5rem;
}
footer > div:last-of-type {
  display: flex;
  gap: 0.25rem;
}
footer > div:last-of-type a {
  cursor: pointer;
}

.Etusivu {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.Etusivu img {
  height: calc(100vh - 5rem - 4.5rem);
  padding-left: 0rem;
}
.Etusivu .content {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Etusivu .content p {
  font-size: 1.5rem;
}

.Palvelut {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
}
.Palvelut .split, .Palvelut .hinnat {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.Palvelut .split h2, .Palvelut .hinnat h2 {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}
.Palvelut .split p, .Palvelut .split li, .Palvelut .hinnat p, .Palvelut .hinnat li {
  font-size: 1.25rem;
  color: #E0E0E0;
}
.Palvelut .split.leftSide ul, .Palvelut .hinnat.leftSide ul {
  padding-left: 1.5rem;
}
.Palvelut .split.rightSide, .Palvelut .hinnat.rightSide {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.Palvelut .split.rightSide .hinnat, .Palvelut .hinnat.rightSide .hinnat {
  white-space: pre-wrap;
}
.Palvelut .split.rightSide .hinnat ul, .Palvelut .hinnat.rightSide .hinnat ul {
  list-style-type: none;
}
.Palvelut .split.rightSide button, .Palvelut .hinnat.rightSide button {
  width: max-content;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

a {
  all: unset;
}

#root {
  background: linear-gradient(135deg, #787878, #2c2c2c);
}
#root main {
  min-height: calc(100vh - 5rem - 4.5rem);
}
