* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

p {
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

a {
  all: unset;
}

ul {
  list-style: none;
}

button {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.06rem 0.19rem rgba(0, 0, 0, 0.12), 0 0.06rem 0.125rem rgba(0, 0, 0, 0.24);
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  background-color: black;
}
button:hover {
  background-color: #050505;
}

header {
  height: 5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}
header h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
  flex: 1;
  background: linear-gradient(#fff500, #999300);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
header nav {
  display: none;
}
header .MenuButton {
  box-shadow: none;
  width: 5rem;
}
header .MenuButton svg {
  width: 2.5rem;
  height: 2.5rem;
}
@media (min-width: 45rem) {
  header h1 {
    margin-left: 2rem;
  }
  header nav {
    display: block;
    margin-right: 3rem;
  }
  header nav a {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    padding-block: 0.75rem;
    padding-inline: 1rem;
  }
  header nav a:hover {
    color: #fff966;
  }
  header nav a[data-current-page] {
    color: #fff500;
  }
  header .MenuButton {
    display: none;
  }
}

footer {
  min-height: 4rem;
  background-color: #121212;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}
footer p {
  font-size: 1.125rem;
}
footer .title {
  font-size: 1.75rem;
  color: #fff500;
  font-style: italic;
}
footer .icons {
  display: flex;
  gap: 0.5rem;
}
footer .icons a {
  cursor: pointer;
}
@media (min-width: 45rem) {
  footer {
    flex-direction: row;
  }
}

.Etusivu {
  padding: 2rem;
}
.Etusivu img {
  display: block;
  width: 70vw;
  max-width: calc((100vh - 5rem - 4rem - 4rem) * 1.333);
  max-width: 33rem;
  max-height: calc(100vh - 5rem - 4rem - 4rem);
  margin: 0 auto;
  object-fit: cover;
}
.Etusivu section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 45rem) {
  .Etusivu {
    display: flex;
    gap: 2rem;
  }
  .Etusivu img {
    width: 50%;
    margin: unset;
  }
  .Etusivu p {
    font-size: 1.25rem;
  }
}

.Hinnastot {
  padding: 1rem 2rem;
}
.Hinnastot.grid, .Hinnastot .grid {
  display: grid;
  gap: 1rem;
}
.Hinnastot .leftSide ul {
  list-style-type: unset;
  padding-left: 1.25rem;
}
.Hinnastot h2 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}
.Hinnastot p, .Hinnastot li {
  color: #E0E0E0;
}
.Hinnastot .rightSide {
  white-space: pre-wrap;
}
.Hinnastot .rightSide button {
  margin-top: 1rem;
  max-width: max-content;
}
@media (min-width: 45rem) {
  .Hinnastot {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .Hinnastot .leftSide {
    grid-auto-columns: min(100%, 30rem);
    grid-template-rows: repeat(auto-fit, 7rem);
  }
  .Hinnastot .rightSide {
    grid-auto-columns: min(100%, 30rem);
    grid-template-rows: 7rem 7rem max-content max-content;
  }
}

body > #root {
  background: linear-gradient(135deg, #787878, #2c2c2c);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body > #root main {
  flex: 1;
}
