header {
  height: 4.5rem;
  display: flex;
  align-items: center;
  background-color: #F8E5AC;
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 50%;
  transform: translateX(-50%);
}
header nav {
  min-width: max-content;
  height: 100%;
  margin-left: auto;
  margin-right: 3rem;
}
header nav .MuiButton-root {
  height: 100%;
  font-size: 2rem;
  color: #333;
}
header nav .MuiButton-root[current-page] {
  color: #ff0000;
}

footer {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8E5AC;
  font-weight: bold;
  gap: 3rem;
  font-size: 1.5rem;
}
footer > p:first-of-type {
  font-size: 2rem;
}
footer > div:last-of-type {
  display: flex;
  gap: 0.25rem;
}
footer > div:last-of-type a {
  cursor: pointer;
}

.Etusivu {
  display: flex;
  align-items: center;
  padding: 4rem;
}
.Etusivu img {
  height: calc(100vh - 4.5rem - 4.5rem - 8rem);
  padding-left: 2rem;
}
.Etusivu .content {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Etusivu .content p {
  font-size: 1.75rem;
}

.Palvelut {
  display: flex;
  gap: max(8vw, 4rem);
  padding: 4rem;
  justify-content: center;
}
.Palvelut > div {
  width: 50%;
  justify-self: center;
}
.Palvelut h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.Palvelut h2:not(:first-of-type) {
  margin-top: 2rem;
}
.Palvelut p, .Palvelut li {
  font-size: 1.5rem;
}
.Palvelut .tarjonta ul {
  padding-left: 1.5rem;
}
.Palvelut .hinnasto div {
  display: flex;
  gap: 4rem;
}
.Palvelut .hinnasto ul {
  list-style-type: none;
}
.Palvelut .ajanvaraus h2 {
  margin-top: 2rem;
}
.Palvelut .ajanvaraus .MuiButton-root {
  margin-top: 2rem;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

a {
  all: unset;
}

#root {
  background: linear-gradient(135deg, white, #fcf4db);
}
#root main {
  min-height: calc(100vh - 4.5rem - 4.5rem);
}
