@import './variables';
@import './components';
@import './pages/Etusivu';
@import './pages/Palvelut';

* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-family: Arial, sans-serif;
	color: $colorText;
}

a { all: unset; }

#root {
	main { min-height: $mainContentHeight; }
	background: linear-gradient(
		135deg, lighten($colorPrimary, 40%),
		lighten($colorPrimary, 10%)
	);
}
