@import './setup/variables';
@import './setup/reset';
@import './setup/components';
@import './pages/Etusivu';
@import './pages/Hinnastot';

body > #root {
	background: linear-gradient(
		135deg, lighten($colorPrimary, 40%),
		lighten($colorPrimary, 10%)
	);

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	main { flex: 1; }
}
