@mixin shadowAnimation {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	&:hover { @include shadow() };
}

@mixin buttonAnimation {
	transition: all .2s ease-in-out;
	&:hover {
		// filter: brightness(1.2);
		background-color: lighten($colorButton, 2%);
		// background-color: darken($colorButton, 2%);
	}
}
