.Etusivu {
	display: flex;
	align-items: center;
	padding-right: 2rem;

	img {
		$imgWidth: 30rem;
		height: $mainContentHeight;
		padding-left: 0rem;
	}

	.content {
		padding-left: 6rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		p { font-size: 1.5rem; }
	}
}
