.Etusivu {
	padding: 2rem;

	img {
		display: block;
		width: 70vw;
		max-width: calc(($contentHeight - 4rem) * 1.333);
		max-width: 33rem;
		max-height: calc($contentHeight - 4rem);
		margin: 0 auto;
		object-fit: cover;
	}

	section {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	@media (min-width: $breakpoint) {
		display: flex;
		gap: 2rem;

		img {
			width: 50%;
			margin: unset;
		}

		p {
			font-size: 1.25rem;
		}
	}
}
