.Palvelut {
	display: flex;
	justify-content: space-evenly;
	padding: 4rem;

	.split, .hinnat {
		max-width: 30vw;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;

		h2 {
			font-size: 1.75rem;
			margin-bottom: .25rem;
		}

		p, li {
			font-size: 1.25rem;
			color: $colorText2;
		}

		&.leftSide {
			ul { padding-left: 1.5rem; }
		}

		&.rightSide {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;

			.hinnat {
				white-space: pre-wrap;
				ul { list-style-type: none; }
			}

			button { width: max-content; }
		}
	}
}
