.Yhteystiedot {
	display: flex;
	inline-size: 100vw;
	block-size: calc(100vh - 4rem);
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	
	.GoogleMaps {
		position: relative;
		inline-size: 50vw;
		block-size: 50vw;
		max-block-size: calc(100vh - 4rem);
	}
	
	.information {
		width: 500px;
		height: 500px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		
		.title {
			font-size: 3rem;
		}
		
		:not(.title) {
			line-height: 2rem;
		}
	}
}
