.returnButton {
	@include iconButton(3rem);
	position: absolute;
	inset-inline-start: 1rem;
	inset-block-start: 1rem;
}

.mainHeader {
	block-size: 4rem;
	border-block-end: solid .063rem $gray;
	display: flex;
	justify-content: space-between;
	background-color: $colorHeader;
	
	svg {
		inline-size: 4rem;
		block-size: 4rem;
	}
	
	nav { display: none; }
	.menuIcon { background-color: transparent; }
	
	@media (min-Width: $xs) {
		nav { @include navbar($colorHeader); }
		.menuIcon { display: none; }
	}
}

dialog {
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100vw;
	block-size: 100vh;
	background-color: transparent;
	
	.background {
		inline-size: 100%;
		block-size: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	
	.container {
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 0;
		inset-inline-start: 50%;
		inset-block-start: 50%;
  	transform: translate(-50%, -50%);
		display: flex;
		flex-flow: column;
		
		inline-size: 40rem;
		block-size: 30rem;
		background-color: #E3E3E3;
		border-radius: .5rem;
		border: none;
		
		header {
			$headerHeight: 3rem;
			
			inline-size: 100%;
			block-size: $headerHeight;
			background-color: teal;
			border-top-left-radius: .5rem;
			border-top-right-radius: .5rem;
			
			&[draggable = true] { cursor: grab; }
			
			h1 {
				position: absolute;
				inset-inline-start: 50%;
				transform: translateX(-50%);
				
				text-align: center;
				color: $colorText;
				line-height: $headerHeight;
				font-size: 1.75rem;
			}
			
			.iconButton {
				@include iconButton(3rem);
				float: right;
			}
		}
		
		.content {
			block-size: 100%;
			padding: .5rem;
		}
		
		.actions {
			padding: .75rem;
			display: flex;
			gap: .5rem;
			justify-content: flex-end;
			
			button {
				min-width: 6rem;
				font-size: 1rem;
				font-weight: bold;
				padding-block: .75rem;
				padding-inline: 1rem;
				border-radius: 5rem;
				background-color: teal;
				color: $colorText;
			}
		}
	}
}
